---
const enabled = import.meta.env.PUBLIC_ENABLE_SITE_CREDITS !== "false";
---

{enabled && (
  <div class="site-credits">
    <p>
      Created by:{" "}
      <a href="https://www.instagram.com/n.e.r.d_1eyelid/" rel="me noopener noreferrer" target="_blank">
        IG: n.e.r.d_1eyelid
      </a>
    </p>
    <p>
      If you have questions or bugs, DM that IG or email:{" "}
      <a href="mailto:nguyenviet.hoa406@gmail.com">nguyenviet.hoa406@gmail.com</a>
    </p>
  </div>
)}
